CODE/CSAAWeb/Web References/ArcSightReference/RecordApplicationEventAsyncService_schema5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.aaancnuit.com.AAANCNU_FinancialServicesAgreement_version1" xmlns:ns1="http://www.aaancnuit.com.AAANCNU_Common_version1" elementFormDefault="qualified" targetNamespace="http://www.aaancnuit.com.AAANCNU_FinancialServicesAgreement_version1" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="RecordApplicationEventAsyncService_schema7.xsd" namespace="http://www.aaancnuit.com.AAANCNU_Common_version1" />
  <xs:complexType name="MembershipStatus">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:StatusWithCommonReason">
        <xs:sequence>
          <xs:element name="state" type="ns1:MembershipState" />
          <xs:element minOccurs="0" name="reason" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="membershipStatusExtension" nillable="true" type="ns1:ExtensionArea" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InsurancePolicyStatus">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:StatusWithCommonReason">
        <xs:sequence>
          <xs:element minOccurs="0" name="state" type="tns:InsurancePolicyState" />
          <xs:element name="reason" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="insurancePolicyStatusExtension" nillable="true" type="ns1:ExtensionArea" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="InsurancePolicyState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="Active" />
      <xs:enumeration value="Expired" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>