CODE/CSAAWeb/Web References/ArcSightReference/RecordApplicationEventAsyncService_schema4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.aaancnuit.com.AAANCNU_FinancialTransaction_version1" xmlns:ns1="http://www.aaancnuit.com.AAANCNU_Common_version1" elementFormDefault="qualified" targetNamespace="http://www.aaancnuit.com.AAANCNU_FinancialTransaction_version1" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="RecordApplicationEventAsyncService_schema7.xsd" namespace="http://www.aaancnuit.com.AAANCNU_Common_version1" />
  <xs:complexType name="PaymentDueStatus">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:StatusWithCommonReason">
        <xs:sequence>
          <xs:element name="state" type="tns:PaymentDueState" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="paymentDueStatusExtension" nillable="true" type="ns1:ExtensionArea" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PaymentStatus">
    <xs:complexContent mixed="false">
      <xs:extension base="ns1:StatusWithCommonReason">
        <xs:sequence>
          <xs:element name="state" type="tns:PaymentState" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="paymentStatusExtension" nillable="true" type="ns1:ExtensionArea" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PaymentDueState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Due" />
      <xs:enumeration value="Final" />
      <xs:enumeration value="Fully Settled" />
      <xs:enumeration value="Initial" />
      <xs:enumeration value="Partially Settled" />
      <xs:enumeration value="Replaced" />
      <xs:enumeration value="Written Off" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PaymentState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Allocated" />
      <xs:enumeration value="Initial" />
      <xs:enumeration value="Paid" />
      <xs:enumeration value="Paid Back" />
      <xs:enumeration value="Partially Allocated" />
      <xs:enumeration value="Posted" />
      <xs:enumeration value="Received" />
      <xs:enumeration value="Rejected" />
      <xs:enumeration value="Replaced" />
      <xs:enumeration value="Authorised" />
      <xs:enumeration value="Check Paid" />
      <xs:enumeration value="Check Rejected" />
      <xs:enumeration value="Check Valued" />
      <xs:enumeration value="Cleared" />
      <xs:enumeration value="Created" />
      <xs:enumeration value="Deposited" />
      <xs:enumeration value="Final For Check" />
      <xs:enumeration value="Stopped" />
      <xs:enumeration value="Unallocated" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>